<section class="content display-blog">
    <div>
        <a class="btn btn-primary" href="/blogs/<%= blog.id %>/edit">Edit</a>

        <form action="/blogs/<%= blog.id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger" type="submit">Delete</button>
        </form>
    </div>

    <h2 class="display-blog-title"><%= blog.title %></h2>
    <p class="display-blog-snippet"><%= blog.snippet %></p>
    <div class="display-blog-body"><%= blog.body %></div>
</section>